USE [Banda]
GO
/****** Object:  Table [dbo].[Actuacion]    Script Date: 17/02/2026 17:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actuacion](
	[IdActuacion] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](80) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Lugar] [varchar](80) NULL,
	[IdTipoActuacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdActuacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instrumento]    Script Date: 17/02/2026 17:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instrumento](
	[IdInstrumento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInstrumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaActuacion]    Script Date: 17/02/2026 17:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaActuacion](
	[IdLista] [int] IDENTITY(1,1) NOT NULL,
	[IdActuacion] [int] NOT NULL,
	[IdMusico] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musico]    Script Date: 17/02/2026 17:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musico](
	[IdMusico] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[IdInstrumento] [int] NOT NULL,
	[Apellidos] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMusico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoActuacion]    Script Date: 17/02/2026 17:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoActuacion](
	[IdTipoActuacion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoActuacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actuacion]  WITH CHECK ADD FOREIGN KEY([IdTipoActuacion])
REFERENCES [dbo].[TipoActuacion] ([IdTipoActuacion])
GO
ALTER TABLE [dbo].[ListaActuacion]  WITH CHECK ADD FOREIGN KEY([IdActuacion])
REFERENCES [dbo].[Actuacion] ([IdActuacion])
GO
ALTER TABLE [dbo].[ListaActuacion]  WITH CHECK ADD FOREIGN KEY([IdMusico])
REFERENCES [dbo].[Musico] ([IdMusico])
GO
ALTER TABLE [dbo].[Musico]  WITH CHECK ADD FOREIGN KEY([IdInstrumento])
REFERENCES [dbo].[Instrumento] ([IdInstrumento])
GO
