<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings>
		<add name="BandaEntities"
			 providerName="System.Data.EntityClient"
			 connectionString="metadata=res://*/BandaModelDB.csdl|res://*/BandaModelDB.ssdl|res://*/BandaModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=Banda;user id=sa;password=maurocorreas;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
	</connectionStrings>
</configuration>